<% layout('layouts/Boilerplate') %>
<div class="row">
  <div class="col-6 offset-3">
    <h1>Edit Spot</h1>
    <form
      class="needs-validation"
      action="/spots/<%=spot.id%>/?_method=PUT"
      method="post"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          name="title"
          id="spot[title]"
          value="<%= spot.title %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          name="location"
          id="spot[location]"
          value="<%= spot.location %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <%- include('../partials/carousel', {images: spot.images}) %>
        <label class="form-label" for="image">Add more images</label>
        <input type="file" name="image" id="image" multiple />
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          name="description"
          id="spot[description]"
        >
<%= spot.description %></textarea
        >
      </div>
      <input class="btn btn-success" type="submit" value="Edit Spot" />
    </form>
  </div>
</div>
