<% layout('layouts/Boilerplate') %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div id="map" class="vh-80 wd-100"></div>
    </div>
    <div class="col-md-6 text-white">
      <div class="row overflow-scroll vh-80">
        <% for (let spot of spots) {%>
        <div class="col-lg-4 col-md-6 mb-3 d-flex align-items-stretch">
          <div class="card">
            <a href="/spots/<%= spot.id %>">
              <img
                class="card-img-top"
                src="<%= spot.images[0]?.url %>"
                alt=""
              />
            </a>
            <!-- <div class="card-body"> -->
            <div class="card-footer">📍<%= spot.location %></div>
            <!-- </div> -->
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<script>
  const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
  const geoJsonSpots = {
    type: 'FeatureCollection',
    features: <%- JSON.stringify(spots) %>
    }
</script>
<script src="/js/clusterMap.js"></script>
