<% layout('layouts/Boilerplate') %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-3">
      <h5 class="card-header">Featured</h5>
      <div class="card-body">
        <h5 class="card-title"><%= spot.title %></h5>
        <p class="card-text"><%= spot.description %></p>
        <p class="card-text"><%= spot.location %></p>
        <img class="img-fluid" src="<%= spot.image %>" alt="" />
      </div>
      <div class="card-body">
        <div class="mb-3 ml-3">
          <a class="card-link btn btn-info" href="/spots/<%= spot.id %>/edit"
            >edit</a
          >
          <form
            class="d-inline"
            action="/spots/<%= spot.id %>?_method=DELETE"
            method="post"
          >
            <button class="btn btn-danger">delete</button>
          </form>
        </div>
      </div>
      <div class="card-footer">2 days ago</div>
    </div>
    <form class="mb-3">
      <h2>Leave a review</h2>
      <div class="mb-3">
        <label class="form-label" for="rating">Rating</label>
        <input
          class="form-range"
          type="range"
          name="rating"
          id="rating"
          min="1"
          max="5"
          placeholder="1-5"
        />
      </div>
      <div class="mb-3">
        <label for="form-label">Review</label>
        <textarea
          class="form-control"
          name="body"
          id="body"
          rows="3"
          cols="30"
          placeholder="Write your review here"
        ></textarea>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>
