<% layout('layouts/Boilerplate') %>
<h1>Hello!</h1>
<h2><%= spot.title %></h2>
<a href="/spots/<%= spot.id %>/edit">edit</a>
<form action="/spots/<%= spot.id %>?_method=DELETE" method="post">
  <button>delete</button>
</form>
<div><%= spot.location %></div>
<img src="<%= spot.image %>" alt="" />
<div><%= spot.description %></div>
<footer>
  <a href="/spots">all spots</a>
</footer>
