<% layout('layouts/Boilerplate') %>
<div class="row">
  <div class="col-6">
    <div class="card mb-3">
      <h5 class="card-header">Featured</h5>
      <div class="card-body">
        <h5 class="card-title"><%= spot.title %></h5>
        <p class="card-text"><%= spot.description %></p>
        <p class="card-text"><%= spot.location %></p>
        <p class="card-text">submitted by <%= spot.author.username %></p>
        <img class="img-fluid" src="<%= spot.image %>" alt="" />
      </div>
      <% if(currentUser && spot.author.equals(currentUser._id)) {%>
      <div class="card-body">
        <div class="mb-3 ml-3">
          <a class="card-link btn btn-info" href="/spots/<%= spot.id %>/edit"
            >edit</a
          >
          <form
            class="d-inline"
            action="/spots/<%= spot.id %>?_method=DELETE"
            method="post"
          >
            <button class="btn btn-danger">delete</button>
          </form>
        </div>
      </div>
      <% } %>
      <div class="card-footer">2 days ago</div>
    </div>
  </div>
  <div class="col-6">
    <form
      action="/spots/<%= spot.id %>/reviews"
      method="post"
      class="mb-3 needs-validation"
      novalidate
    >
      <h2>Leave a review</h2>
      <div class="mb-3">
        <label class="form-label" for="rating">Rating</label>
        <input
          class="form-range"
          type="range"
          name="rating"
          id="rating"
          min="1"
          max="5"
          placeholder="1-5"
        />
      </div>
      <div class="mb-3">
        <label for="form-label">Review</label>
        <textarea
          class="form-control"
          name="body"
          id="body"
          rows="3"
          cols="30"
          placeholder="Write your review here"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <% for (let review of spot.reviews) {%>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Rating: <%= review.rating %></h5>
        <p class="card-text">Review: <%= review.body %></p>
        <form
          action="/spots/<%= spot.id %>/reviews/<%= review.id %>?_method=DELETE"
          method="post"
        >
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
      </div>
    </div>
    <% } %>
  </div>
</div>
